<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{title}}</title>
 </head>
 <body>
 <h3> Тест по обществу </h3>
 <form class="test_form" method="post">
      {% for question in questions %}
    {% if question.photo_way %}
        <img src={{question.photo_way}}
            alt="здесь должна была быть картинка, но не нашлась">
    {% endif %}
       <h3>{{loop.index}}. {{question.question}}</h3>
     <div>
       <p><input name='{{question.id}}' type="radio" value='{{ans_opt[loop.index0][0]}}'> {{ans_opt[loop.index0][0]}}</p>
       <p><input name='{{question.id}}' type="radio" value='{{ans_opt[loop.index0][1]}}'> {{ans_opt[loop.index0][1]}}</p>
       <p><input name='{{question.id}}' type="radio" value='{{ans_opt[loop.index0][2]}}'> {{ans_opt[loop.index0][2]}}</p>
       <p><input name='{{question.id}}' type="radio" value='{{ans_opt[loop.index0][3]}}'> {{ans_opt[loop.index0][3]}}</p>
         </div>
      {% endfor %}

 <button type="submit" class="btn btn-primary">Сдать</button>
     </form>
 </body>
